<footer>
    <div class="footer__box">
        <div class="footer__slogan">
            <h2 class="slogan__made">
                homemade ice cream
                <span class="slogan__wrap">made</span>
            </h2>
            <h3 class="slogan__passion">with<span class="slogan__wrap"> passion</span></h3>
        </div>
        <div class="footer__social">
            <ul class="footer__social-list">
                <li class="social__icon">
                    <a href="https://github.com/" class="social__link">
                        <svg class="logo__icon" with="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social__icon">
                    <a href="https://github.com/" class="social__link">
                        <svg class="logo__icon" with="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social__icon">
                    <a href="https://github.com/" class="social__link">
                        <svg class="logo__icon" with="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__contact">
                Feel free to contact
                <a href="tel:+61 (0) 383 766 284" class="footer__phone">+61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
</footer>