<section class="gallery">
  <picture>
    <source
      srcset="./images/gallery/gallery-desctop-1.jpg 1x, ./images/gallery/gallery-desctop-2.jpg 2x"
      media="(min-width: 1200px)"
    />

    <source
      srcset="./images/gallery/gallery-tablet-1.jpg 1x, ./images/gallery/gallery-tablet-2.jpg 2x"
      media="(min-width: 768px)"
    />

    <source
      srcset="./images/gallery/gallery-mobile-1.jpg 1x, ./images/gallery/gallery-mobile-2.jpg 2x"
      media="(min-width: 480px)"
    />
    <img src="./images/gallery/gallery-desctop-1.jpg " alt="#" />
  </picture>
</section>
