<div class="location">
    <div class="location__content">
        <ul class="location__nav-list">
            <li class="location__nav-item">
                <a href="#">Our Locations
                    <svg class="location__arrow location__arrow-white">
                        <use href="./images/footer-icon.svg#icon-arow"></use>
                    </svg>
                </a>
            </li>
            <li class="location__nav-item">
                <a href="#">Franchise
                    <svg class="location__arrow location__arrow-red">
                        <use href="./images/footer-icon.svg#icon-arow"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>