<!-- header -->
<nav class="nav container">
    <a href="#">
    <img class="logo"
    width="199" height="50"
    alt="logo ice-cream"
    src="./images/logo.png"
        />
    </a>
 
 <!-- mobile menu -->

 <button
 type="button"
 class="mobile-menu__switcher js-open-menu"
 aria-expanded="false"
 aria-controls="mobile-menu"
>
 <svg
   width="20"
   height="12"
   aria-label="переключатель мобильного меню"
 >
   <use href="./images/mob-m-icons.svg#icon-burger"></use>
 </svg>
</button>
<div class="mobile-menu js-menu-container container" id="mobile-menu">
 <button type="button" class="mobile-menu__switcher js-close-menu">
   <svg
     width="14"
     height="14"
     aria-label="переключатель мобильного меню"
   >
     <use href="./images/mob-m-icons.svg#icon-close"></use>
   </svg>
 </button>
 <button type="button" class="mobile-menu__btn">
  <!-- <div class="mobile-menu__btn-title"> -->
    <span class="mobile-menu__btn-name">
    <svg class="mobile-menu__btn-name" width="91" height="44">
    <use href="./images/mob-m-icons.svg#icon-buy-now"></use>
  </svg>
</span>
   <span class="mobile-menu__arrow"><svg  width="7" height="10">
      <use href="./images/mob-m-icons.svg#icon-arrow"></use>
    </svg>
  </span>
  <!-- </div> -->
</button>

  <ul class="mobile-menu__site-nav">
    <li class="mobile-menu__site-nav-item">
      <a href="#" class="menu__site-nav-link">Home</a>
    </li>
    <li class="mobile-menu__site-nav-item">
      <a
        href="#"
        class="mobile-menu__site-nav-link .mobile-menu-site-nav__carrent"
        >About us</a
      >
    </li>
    <li class="mobile-menu__site-nav-item">
      <a href="#" class=".mobile-menu__site-nav-link"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__site-nav-item">
      <a href="#" class="mobile-menu__site-nav-link">Our products</a>
    </li>
    <li class="mobile-menu__site-nav-item">
      <a href="#" class="mobile-menu__site-nav-link">Contact</a>
    </li>

  </ul>
  
</div> 
</nav>
